/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* font-seze 64px */
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 24px;
}

/* font-size 45px */
h2 {
  font-size: 2.813rem;
  font-weight: 700;
}

/* font-seze 20px */
h3,
.nav-item,
.btn {
  font-size: 1.25rem;
  font-weight: 600;
}

/* font-size 16px */
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: rgb(114, 114, 114);
}

.btn {
  width: 180px;
  color: white;
  margin: 32px auto;
  border-radius: 8px;
  padding: 20px 24px;
  cursor: pointer;
  transition: backgorund-colo ease 0.3s;
  background-color: rgb(255, 144, 14);
}
.btn:hover {
  background-color: rgb(247, 135, 8);
}

.flex {
  display: flex;
}

.container {
  width: 1440px;
  padding: 10px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* header style */
header {
  margin: 0 auto;
  padding: 45px;
  background: rgba(255, 144, 14, 0.1);
}

/* nav style */
nav {
  border: 1px solid red;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  align-items: center;
}
.nav-item {
  margin-left: 24px;
  list-style: none;
}

.nav-link {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

/* banner section style */
.banner {
}
.banner-text {
  width: 862px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
}
